vlan 100-999
!
{% for i in range(2) %}
interface {{ topology_connections.uplinks[2*i] }}
  description TO_{{ topology_connections.uplinks[2*i] }}_{{ uplinks[i] }}
  switchport mode trunk
  switchport trunk allowed vlan 100-999
  channel-group {{ 10+i }} mode active
!
interface {{ topology_connections.uplinks[2*i+1] }}
  description TO_{{ topology_connections.uplinks[2*i+1] }}_{{ uplinks[i] }}
  switchport mode trunk
  switchport trunk allowed vlan 100-999
  channel-group {{ 10+i }} mode active
!
interface Port-channel{{ 10+i }}
  description TO_PO{{ 10+i }}_{{ uplinks[i] }}
  switchport mode trunk
  switchport trunk allowed vlan 100-999
!
{% endfor %}